---
title: 'Contact | Nur Nur Paradise'
description: 'Find Nur Nur Paradise Thai restaurant in Kenilworth. Book a table, view our opening hours, or enquire about private dining and special occasions.'
preloadImg: '/assets/images/banner.webp'
permalink: 'contact/'
eleventyNavigation:
    key: Contact Us
    order: 2300
    parent: About Us

---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/contact.css">
{% endblock %}

{% block body %}

    <!-- ============================================ -->
    <!--                    LANDING                   -->
    <!-- ============================================ -->

    <section id="int-hero">
        <h1 id="home-h">Contact Us</h1>
       <picture>
            <source media="(max-width: 600px)" srcset="/assets/images/banner-m.webp">
            <source media="(min-width: 601px)" srcset="/assets/images/banner.webp">
            <img aria-hidden="true" decoding="async" src="/assets/images/banner.jpg" alt="restaurant banner" loading="eager" width="2500" height="1667">
        </picture>
    </section>


<!-- ============================================ -->
<!--                   Contact                    -->
<!-- ============================================ -->

<section id="contact-2320">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Contact Us</span>
            <h2 class="cs-title">Talk To Our Friendly Team</h2>
            <!--Form-->
            <form class="cs-form" id="cs-form-323-2320" name="Contact Form" method="post">
                <label class="cs-label">
                    Name
                    <input class="cs-input" required type="text" name="name" placeholder="Name">
                </label>
                <label class="cs-label cs-email">
                    Email
                    <input class="cs-input" required type="email" name="email" placeholder="Email">
                </label>
                <label class="cs-label cs-phone">
                    Phone
                    <input class="cs-input" required type="tel" name="phone" placeholder="Phone">
                </label>
                <label class="cs-label cs-services">
                    Enquiry Type
                    <select class="cs-input" name="Services">
                        <option value="" disabled selected>Select</option>
                        <option value="Party">Party</option>
                        <option value="Event">Event</option>
                        <option value="General">General</option>
                    </select>
                </label>
                <label class="cs-label">
                    Message
                    <textarea class="cs-input cs-textarea" required name="Message" placeholder="Write message..."></textarea>
                </label>
                <button class="cs-button-solid cs-submit" type="submit">Send Message</button>
            </form>
        </div>
        <!--Map Image, pin is made in the Figma then export as one image-->
        <div class="cs-map">
            <div class="cs-iframe-wrapper">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2437.5502646767504!2d-1.5812859222530196!3d52.34230447201514!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4870cbb67be9c027%3A0xcd7d89994cca28d9!2sNur%20Nur%20Paradise!5e0!3m2!1sen!2suk!4v1741509799565!5m2!1sen!2suk" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
            <div class="cs-box">
                <img class="cs-icon" decoding="async" loading="lazy" src="/assets/svgs/clock.svg" alt="icon" width="40" height="40" aria-hidden="true">
                <div class="cs-flex">
                    <span class="cs-header">Opening Hours</span>

                    <span class="cs-address"> Mon: 5pm-10.30pm <br> Tue-Sat: 12pm-2.30pm | 5pm-10.30pm <br> Sun: Closed
                    </span>
                </div>
            </div>
        </div>
    </div>
</section>
                                
{% endblock %}