---
title: 'Membership Join | Nur Nur Paradise'
description: 'Nur Nur Paradise Membership Program Joined'
preloadImg: '/assets/images/banner.webp'
permalink: 'membership-join/'
eleventyNavigation:
  

---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/membership-join.css">
{% endblock %}

{% block body %}

    <!-- ============================================ -->
    <!--                    LANDING                   -->
    <!-- ============================================ -->

    <section id="int-hero">
        <h1 id="home-h">Thank You</h1>
       <picture>
            <source media="(max-width: 600px)" srcset="/assets/images/banner-m.webp">
            <source media="(min-width: 601px)" srcset="/assets/images/banner.webp">
            <img aria-hidden="true" decoding="async" src="/assets/images/banner.jpg" alt="restaurant banner" loading="eager" width="2500" height="1667">
        </picture>
    </section>

<!-- ============================================ -->
<!--                  Content                     -->
<!-- ============================================ -->

<section id="content-1450">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Membership</span>
            <h2 class="cs-title">Welcome to Nur Nur Paradise Membership!</h2>
            <p class="cs-text">
                Your unique membership code will be sent to your email address within the next 24 hours. Please keep this code handy when making reservations to ensure all your membership benefits are applied.
            </p>
            <h3 class="h3">What Happens Next</h3>
            <ul id="list-825" class="cs-ul">
                <li class="cs-li">
                    <span class="cs-number">1</span>
                    Check your inbox for your confirmation email with your membership code
                </li>
                <li class="cs-li">
                    <span class="cs-number">2</span>
                    Start enjoying your exclusive benefits on your next visit
                </li>
                <li class="cs-li">
                    <span class="cs-number">3</span>
                    Explore our current seasonal&nbsp;<a href="/promotions/">promotions.</a>
                </li>
            </ul>                
        </div>
    </div>
</section>
                                
{% endblock %}