---
title: 'Reviews | Nur Nur Paradise'
description: 'Read what our customers say about Nur Nur Paradise. Authentic Thai cuisine in Kenilworth praised for exceptional flavours, service and welcoming atmosphere.'
preloadImg: '/assets/images/banner.webp'
permalink: 'reviews/'
eleventyNavigation:
    key: Reviews
    order: 500
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/reviews.css">
{% endblock %}

{% block body %}

    <!-- ============================================ -->
    <!--                    LANDING                   -->
    <!-- ============================================ -->

    <section id="int-hero">
        <h1 id="home-h">Our Reviews</h1>
        <picture>
            <source media="(max-width: 600px)" srcset="/assets/images/banner-m.webp">
            <source media="(min-width: 601px)" srcset="/assets/images/banner.webp">
            <img aria-hidden="true" decoding="async" src="/assets/images/banner.jpg" alt="restaurant banner" loading="eager" width="2500" height="1667">
        </picture>
    </section>

    <!-- ============================================ -->
    <!--                  Reviews                     -->
    <!-- ============================================ -->

    <section id="reviews">
        <div class="container">
            <div class="review">
                <picture>
                    <img class="profile" loading="lazy" decoding="async" src="/assets/svgs/profile-woman.svg" alt="" width="99" height="99">
                </picture>
                <p>
                    Absolutely delicious food - definitely recommend the starter platter, tamarind duck, lamb shank massaman curry, honey roasted duck and the weeping tiger! - but everything that came out of the kitchen looked equally delightful. This is accompanied by amazing service from very friendly and attentive staff, a reasonably priced wine list and a lovely relaxed atmosphere. We'll definitely be back!
                </p>
                <div class="star-group">
                    <span class="name">Sarah Moreton</span>
                    <picture>
                        <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/stars.svg" alt="stars" width="91" height="15">
                    </picture>
                </div>
            </div>
            <div class="review">
                <picture>
                    <img class="profile" loading="lazy" decoding="async" src="/assets/svgs/profile.svg" alt="" width="99" height="99">
                </picture>
                <p>
                    First time lunch here with a friend and it was one of the best meals I have had in a long time, clean and well presented inside, service was friendly and spot on, the food was absolutely delicious, I had the zap zap pinto lunch platter which was plentiful and treated myself to a dessert- mango and sticky rice, was heaven! My new favourite restaurant thank you!
                </p>
                <div class="star-group">
                    <span class="name">A</span>
                    <picture>
                        <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/stars.svg" alt="stars" width="91" height="15">
                    </picture>
                </div>
            </div>
            <div class="review">
                <picture>
                    <img class="profile" loading="lazy" decoding="async" src="/assets/svgs/profile-woman.svg" alt="" width="99" height="99">
                </picture>
                <p>
                    Amazing food and even more amazing staff! There were 24 of us and Lee and his team looked after us very well. The courses arrived at the perfect time - no waiting around, no gaps! For a big group, that's impressive! Food quality was superb! Staff were attentive even though we had the room upstairs. All in all, it was a great night.
                </p>
                <div class="star-group">
                    <span class="name">Zoe T</span>
                    <picture>
                        <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/stars.svg" alt="stars" width="91" height="15">
                    </picture>
                </div>
            </div>
            <div class="review">
                <picture>
                    <img class="profile" loading="lazy" decoding="async" src="/assets/svgs/profile.svg" alt="" width="99" height="99">
                </picture>
                <p>
                    Second visit last evening and as before, everything was spot on. Food is super fresh and tasty, portions generous and service excellent. There is no comparison with the other Thai in Kenilworth in terms of the quality of the food.
                </p>
                <div class="star-group">
                    <span class="name">Clive Forsythe</span>
                    <picture>
                        <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/stars.svg" alt="stars" width="91" height="15">
                    </picture>
                </div>
            </div>
            <div class="review">
                <picture>
                    <img class="profile" loading="lazy" decoding="async" src="/assets/svgs/profile.svg" alt="" width="99" height="99">
                </picture>
                <p>
                    Amazing restaurant cool decor. Best Thai food and mocktails would highly recommend. The staff are so friendly and really good value for money definitely will return. Would give 6 stars if I could!
                </p>
                <div class="star-group">
                    <span class="name">John Hardwick</span>
                    <picture>
                        <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/stars.svg" alt="stars" width="91" height="15">
                    </picture>
                </div>
            </div>
            <div class="review">
                <picture>
                    <img class="profile" loading="lazy" decoding="async" src="/assets/svgs/profile.svg" alt="" width="99" height="99">
                </picture>
                <p>
                    Popped in yesterday for dinner. We had duck spring rolls and Tom Yum soup for starter, and green curry (one with chicken and one with prawns) for mains. Food was excellent, as was the friendly service. Highly recommend.
                </p>
                <div class="star-group">
                    <span class="name">Maarten Mocking</span>
                    <picture>
                        <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/stars.svg" alt="stars" width="91" height="15">
                    </picture>
                </div>
            </div>
        </div>
    </section>

    {% include 'components/cta.html' %}

{% endblock %}